.popover {
  margin-top: 10px;
}

.popover > div:nth-child(3) {
  box-shadow: none !important;
}

.container {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--bliro-dark-7);
  box-shadow: 0px 3px 4px 0px rgba(19, 26, 38, 0.12);
}

.input * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.button {
  min-width: 0px !important;
  width: 40px !important;
  padding: 0 !important;
}
